* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(http://serwer142787.lh.pl/images/weatherapp__bg.png);
  background-size: cover;
  background-position: center;
  font-size: 14px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
  margin: 0;
}

.icon {
  width: 38px;
  display: inline-block;
}